@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bullet-active-swiper {
    @apply !w-10 !rounded-md !bg-pink-500 !opacity-100 !transition-all;
  }

  ::-webkit-scrollbar {
    @apply h-2 w-2;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-gray-100;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply rounded-xl bg-pink-500;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply rounded-xl bg-pink-600;
  }

  :root {
    --swiper-pagination-bullet-border-radius: 0.25rem !important;
    --swiper-pagination-bullet-inactive-color: #ffffff !important;
    --swiper-pagination-bullet-inactive-opacity: 0.8 !important;
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-width: 1.25rem;
  }

  * {
    font-family: "Inter", "Cairo", Arial, sans-serif !important;
  }
}
